
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
a{
    color:black;
}
a:hover{
    color: #e0dedc;
    text-decoration: none;
}
.m-b-md {
    margin-bottom: 30px;
}
.navbar{
}
nav{
}
nav>a{
    padding: 2px;
    margin-top: 3px;
    margin-left: 1px;
    width: 100px;
    border-radius: 20px;

}
nav>button{
    background-color: transparent;
    padding: 2px;
    margin: 2px;
    width: 100px;
}
nav>button :hover{
    border-color: transparent;
}
.contentBlog{
    text-align: center;
    height: 200px;
    border-style: solid;
    border-width: thin;
    border-radius: 2px;
    padding: 1em;
    margin: 1em;
    border-color: #e0dedc;
    background-color: transparent;
}
.contentUser{
    text-align: left;
    height: 50px;
    border-style: solid;
    border-width: thin;
    border-color: #e0dedc;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.blogDetail{
    text-align: left;
    height: 50px;
    border-style: solid;
    border-width: thin;
    border-color: #e0dedc;
    border-left-color:transparent ;
    border-right-color:transparent ;
    border-bottom-color:transparent ;
    margin-top: 1em;
    padding-left: 1em;
}
.frame-comment{
    border-style: solid;
    border-width: thin;
    margin-top: 1em;
    text-align: right;
    border-color: #e0dedc;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
.frame-comment-context{
text-align: left;
}
.date{
    font-size:xx-small;
}
.blog-comment{
    border-style: solid;
    border-width: thin;
    border-color: #e0dedc;
    border-top-color: transparent;
    border-left-color:transparent ;
    border-right-color:transparent ;
    border-bottom-color:transparent ;
    border-radius: 50px;
}
.comment-header{
    padding: 0px;
    background-color: lightblue;
}
.text-info{
    padding: 1em;
    margin-left: 1em;
}
.testdiv{
    width: 400px;
    height: 260px;
    background: #ccc;
    border: 1px solid #000;
}
#toggle:checked ~ #expand {
    height: 450px;
}
#toggle:checked ~ label::before {
    content: "-";
}
#expand {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    color: #FFF;
}
section {
    padding: 0 20px;
}

#grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(60px,1fr));
    grid-auto-rows: 60px;
    grid-auto-flow: dense;
}
.main{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 60px;
    grid-auto-flow: dense;
}
.intro{

}
.details{
    position: relative;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
    border-style: solid;
    border-width: thin;
    height: 500px;

}
.details-left{
    border-style: solid;
    border-width: thin;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color:  #8b8987;
}
.details-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 60px;
    grid-auto-flow: dense;
}
.details-container-left{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;

}
.details-container-left #adding {
    border-style: solid;
    border-width: thin;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    grid-row-start: 1;
    grid-row-end: 6;

}
.details-container-left #studie {
    border-style: solid;
    border-width: thin;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    grid-row-start: 6;
    grid-row-end: 14;

}


.details-container-right{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    border-style: solid;
    border-width: thin;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    height: 498px;

}
.details-container-right #mobile{

}
#name{
    border-style: solid;
    border-width: thin;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #8b8987;
    border-right-color: transparent;
}
ul{
    list-style-type: none;

}
li{
    text-align: left;
}
.list-group{
    margin: 5px;
    padding: 10px;
}