
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
a{
    color:black;
}
a:hover{
    color: #e0dedc;
    text-decoration: none;
}
.m-b-md {
    margin-bottom: 30px;
}
.navbar{
}
nav{
}
nav>a{
    padding: 2px;
    margin-top: 3px;
    margin-left: 1px;
    width: 100px;
    border-radius: 20px;

}
nav>button{
    background-color: transparent;
    padding: 2px;
    margin: 2px;
    width: 100px;
}
nav>button :hover{
    border-color: transparent;
}
.contentBlog{
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-radius: 2px;
    padding: 1em;
    margin: 1em;
    border-color: #e0dedc;
    background-color: transparent;
}
.contentUser{
    text-align: left;
    height: 50px;
    border-style: solid;
    border-width: thin;
    border-color: #e0dedc;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.blogDetail{
    text-align: left;
    border-style: solid;
    border-width: thin;
    border-color: #e0dedc;

    border-left-color:transparent ;
    border-right-color:transparent ;
    border-bottom-color:transparent ;
    margin-top: 1em;
    padding-left: 1em;
}
.frame-comment{
    border-style: solid;
    border-width: thin;
    margin-top: 1em;
    text-align: right;
    border-color: #e0dedc;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
.frame-comment-context{
text-align: left;
}
.date{
    font-size:xx-small;
}
.blog-comment{
    border-style: solid;
    border-width: thin;
    border-color: #e0dedc;
    border-top-color: transparent;
    border-left-color:transparent ;
    border-right-color:transparent ;
    border-bottom-color:transparent ;
    border-radius: 50px;
}
.comment-header{
    padding: 0px;
    background-color: lightblue;
}
.text-info{
    padding: 1em;
    margin-left: 1em;
}
.testdiv{
    width: 400px;
    height: 260px;
    background: #ccc;
    border: 1px solid #000;
}
#toggle:checked ~ #expand {
    height: 450px;
}
#toggle:checked ~ label::before {
    content: "-";
}
#expand {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    color: #FFF;
}
section {
    padding: 0 20px;
}

#grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(60px,1fr));
    grid-auto-rows: 60px;
    grid-auto-flow: dense;
}
.main{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 45% 55%;
    grid-auto-rows: 60px;
    grid-auto-flow: dense;
}
.mainNews{
    display: grid;
    grid-template-columns:20% 60% 20%;
    grid-auto-flow: dense;
}
.main .blog-comment{
    margin: auto;
    padding: 20px;

}
.intro{

}
.details{
    position: relative;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    border-style: solid;
    border-width: thin;
    height: auto;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;


}
.details-left{
    border-style: solid;
    border-width: thin;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color:  transparent;
}
.details-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 60px;
    grid-auto-flow: dense;
    height: 1200px;
}
.details-container-left{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    height: 1000px;
    border-style: solid;
    border-width: thin;

}
.details-container-left #adding {
    border-style: solid;
    border-width: thin;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    grid-row-start: 1;
    grid-row-end: 6;

}
.details-container-left #studie {
    border-style: solid;
    border-width: thin;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    grid-row-start: 6;
    grid-row-end: 14;

}


.details-container-right{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    border-style: solid;
    border-width: thin;

    height: 1000px;

}
.details-container-right #mobile{

}
#name{
    border-style: solid;
    border-width: thin;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #8b8987;
    border-right-color: transparent;
}
ul{
    list-style-type: none;

}
li{
    text-align: left;
}
.list-group{
    margin: 5px;
    padding: 10px;
}
.News{

}
.News>div{
    border-style: solid;
    border-width: thin;
    border-color: #e2e0e1;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;

}

.newsPost{
    padding: 1em;
    display: grid;
    grid-template-columns:  30% 70%;
    grid-column-gap: 10px;
    grid-row-gap: 1px;
}


.zoom:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.09);
    transition: transform 1s;
    text-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.icon-img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(2);
    transition: transform 1s;

}
.newsFrontPost{


}
.newsFrontSide{
    margin-bottom: 5px;
    border-style: dotted;
    border-width: thin;
    border-color: grey;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent ;

}
.newsMain{
    display: grid;
    height: auto;
    grid-template-columns:  80% 20%;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}
    .newsFront{
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;

    }
    .newsMini{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 4;
        border-style: dotted;
        border-width: thin;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }
    .newsFrontPost{
    }
.newsMainPart2{
    padding: 5px;
    border-width: thin;
    display: grid;
    grid-template-columns:  40% 60%;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    border-style:solid;
    border-color: #e2e2e2;
    border-right-color: transparent;
    border-left-color: transparent;
}
.newsMainPart2Left{
}
.newsMainPart2Right{
    border-style: dotted;
    border-width: thin;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.miniImage{
    float: left;
}
.clearfix {
    overflow: auto;
    padding: 5px;
}

.art{
    margin: 10px;
    border-style: dotted;
    border-width: thin;
    border-left-color: transparent;
    border-right-color: transparent ;
    border-top-color: transparent;
}
.art > *{
    padding-left:10px;

}
