
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
a{
    color:black;
}
a:hover{
    color: #e0dedc;
    text-decoration: none;
}
.m-b-md {
    margin-bottom: 30px;
}
.navbar{
}
nav{
}
nav>a{
    padding: 2px;
    margin-top: 3px;
    margin-left: 1px;
    width: 100px;
    border-radius: 20px;

}
nav>button{
    background-color: transparent;
    padding: 2px;
    margin: 2px;
    width: 100px;
}
nav>button :hover{
    border-color: transparent;
}
.contentBlog{
    text-align: center;
    height: 200px;
    border-style: solid;
    border-width: thin;
    border-radius: 2px;
    padding: 1em;
    margin: 1em;
    border-color: #e0dedc;
    background-color: transparent;
}
.contentUser{
    text-align: left;
    height: 50px;
    border-style: solid;
    border-width: thin;
    border-color: #e0dedc;

    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;

}
.blogDetail{
    text-align: left;
    height: 50px;
    border-style: solid;
    border-width: thin;
    border-color: #e0dedc;
    border-left-color:transparent ;
    border-right-color:transparent ;
    border-bottom-color:transparent ;
    margin-top: 1em;
    padding-left: 1em;
}
.frame-comment{
    border-style: solid;
    border-width: thin;
    margin-top: 1em;
    text-align: right;
    border-color: #e0dedc;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
.frame-comment-context{
text-align: left;
}
.date{
    font-size:xx-small;
}
.blog-comment{
    border-style: solid;
    border-width: thin;
    border-color: #e0dedc;
    border-top-color: transparent;
    border-left-color:transparent ;
    border-right-color:transparent ;
    border-bottom-color:transparent ;

}
.comment-header{
    padding: 0px;
    background-color: lightblue;
}
.text-info{
    padding: 1em;
    margin-left: 1em;
}